{% load util_tags %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
        Olá {{ user.nome }}
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link" href="#">
                {% icon 'gauge' %} Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                {% icon 'box' %} Produtos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'usuarios.index' %}">
                {% icon 'users' %} Usuários
            </a>
        </li>

        <li class="dropdown-divider"></li>
        
        <li>
            <a class="nav-link" href="{% url 'logout' %}">
                {% icon 'right-from-bracket' %} Logout
            </a>
        </li>
    </ul>
</li>