{% load static %}
<html>

<head>
    <title>Acolá-Rápido, E-commerce fictício</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'site.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Acolá-rápido E-commerce</a>

            <ul class="navbar-nav me-auto">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                    </li>
                {% elif user.admin %}
                    {% include 'partial/admin_menu.html' %}
                {% else %}
                    <!-- USUÁRIO -->
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container" style="padding-top: 10px;">
        {% if messages %}
            {% for m in messages %}
                <div class="alert alert-{{ m.tags }}">{{ m }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.2/umd/popper.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{% static 'site.js' %}" type="text/javascript"></script>
</body>

</html>