<html>

<head>
    <title>Acolá-Rápido, E-commerce para Técnico em Informática</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Acolá-Rápido</a>

            <ul class="navbar-nav mr-auto">
            </ul>

            <ul class="navbar-nav">
                {% if 'usuario_id' in request.session %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#">Olá {{ request.session.usuario_nome }}</a>

                    {% if request.session.usuario_adm %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-cart-flatbed"></i> Pedidos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-box"></i> Produtos
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'usuarios.index' %}">
                                <i class="fa fa-users"></i> Usuários
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-gears"></i> Minha conta
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fa fa-right-from-bracket"></i> Produtos
                            </a>
                        </li>
                    </ul>
                    {% else %}
                    {% endif %}
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>

</html>