{% extends 'base.html' %}

{% block content %}

<h1>Usuários cadastrados</h1>

<table class="table table-hover">
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Criado em</th>
        <th>Admin</th>
        <th>Ações</th>
    </tr>

    {% for u in items %}
        <tr>
            <td>{{ u.nome }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.criado_em|date:'d/m/Y H:i' }}</td>
            <td>
                {% if u.admin %}
                <i class="fa-solid fa-thumbs-up"></i>
                {% endif %}
            </td>
            <td style="width:1px;white-space:nowrap;">
                <a href="#" class="btn btn-sm btn-success">
                    <i class="fa fa-eye"></i>
                </a>
                <a href="{% url 'usuarios.editar_dados' u.id %}" class="btn btn-sm btn-warning">
                    <i class="fa fa-pen-to-square"></i>
                </a>
                <a href="{% url 'usuarios.editar_senha' u.id %}" class="btn btn-sm btn-info">
                    <i class="fa fa-key"></i>
                </a>
                <a href="{% url 'usuarios.desativar' u.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Deseja realmente desativar a conta de {{ u.nome }}?')">
                    <i class="fa fa-minus"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}